* {
    background: #ffffff;
}
.head{
    
}
Span{
    color: red;
}
.mainhead{
    margin: 10px;
    padding: 5px;
}
.nav{
    Float :left ; 
    margin: 10px;
}
.p{
    margin: 20px;
    Padding: 20px;
    background:#f4f4f4 ;
    width: 200px ;
    align:right ;
}

.img{
    margin: 20px;
    Padding: 20px;   
    width: ; 
    height: ;
    background: #f4f4f4;
    
}
.div1{
    background:#626262; 
    margin: 20px ;
    Padding:  20px ;
    width:  ;
    float :left ;
    
}
.h1{
    color:;
    background-color :#f4f4f4;
    padding: 8px ;
    margin: 4px;
   
}
form{
    background: #727272;
    margin : 20px ;
    padding:20px ;
    float :center ;
    width: 200px ;
}
.fo{
    Background-color :white;
    margin: 10px;
    padding: 5px;
}

}
.button{
    color: black ;
    background: ;
    float:center ;
}

.div2{
    background: #626262;
    margin: 21px ;
    padding: 40px ;
}
.div2p{
    margin: 10px;
    padding: 20px ;
}
.menumain{
    display :in-line block;
    padding: 10px ;
    margin: 10px;
    background: ;
}
.menu{
    display :in-line block;
    padding: 5px;
    margin: 5px;
    background: #ff6a6a;
    font-color: #ff6a6a;
    text-decoration:none;
}
.div3{
    background: #626262;
    margin: 5px ;
    padding: 20px ;
    margin-left :20px ;
}
.footer{
    margin-top :20px ;
    text-align :center ;
    background: black;
    padding: 10px;
    color:white ;
    background-font: black;
    
}
section{
    background: #dddddd;
    margin: 1px;
    padding: 2px ;
    color: ;
}
.MainH{
    margin: 5px;
    padding: 5px;
}
.p{
    width: 300px ;
    margin: 5px;
    padding: 5px;
}
.button{
    margin: 10px;
    padding: 10px ;
    background: #b1b1b1;
}


